<%= link_to 'Home', main_index_path %>

<div class='tasks index'>
  <h2> Tasks </h2>

  <%= link_to('Add new Task', new_task_path) %>

  <table>
    <tr>
      <th>#</th>
      <th>Task</th>
      <th>Completed</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.position %></td>
        <td><%= task.name %></td>
        <td><%= task.completed? ? 'Yes' : 'No' %></td>
        <td><%= task.category&.name || '-' %></td>
        <td class='actions'><%= task.position %>
          <%= link_to('Show', task_path(task.id)) %>
          <%= link_to('Edit', edit_task_path(task.id)) %>
          <%= link_to('Delete', delete_task_path(task.id)) %>
        </td>
      </tr>
    <% end %>

  </table>
</div>
